<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yum admin # shreddi.es</title>
</head>
<body>
    <h1># shreddi.es #</h1>
    <h2>yum admin</h2>

    <form method="post">
        <div>
            <label for="shreddies">Slart of Shreddies in Grams:</label>
            <input type="text" id="shreddies" name="shreddies" />
        </div>
        <div>
            <label for="milk">Slart of Milk in Pints:</label>
            <input type="text" id="milk" name="milk" />
        </div>
        <div>
            <button type="submit">~#~#~#~</button>
        </div>
    </form>
</body>
</html>
